body{
  color: #000;
  background-color: #FFF;
}
a{
  text-decoration: none;
}
a > .title-section{
  color: #0091EA;
}

.mdl-layout__drawer{
  background-color: #000;
  border-right-color: #000;
  color: #FFFFFF;
}
.mdl-layout__drawer a{
  color:#FFFFFF;
  text-decoration: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
  color: #DDDDDD;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover{
  background-color: #444;
}

.mdl-layout__header{
  background-color: #00695C;
  /*background-color: #5D4037;*/
}

.layout-banner{
  margin-bottom: 10px;
}
.layout-banner img{
  max-width: 100%;
}
.layout-banner.home{
  background-color: #9e8564;
}
.layout-banner.officials{
  background-color: rgb(92, 158, 212);
}
.layout-banner.creators{
  background-color: rgb(204, 151, 114);
}

#content{
  min-height: 100%;
}
div.content-section{
  margin-top: 10px;
  margin-bottom:20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.title-section{
  padding-left:20px;
  margin-bottom: 20px;
}
.theme-box{
  margin-top: 0px;
  margin-bottom: 20px;
}
.theme-card{
  height: 250px;
  background-color: #000;
}
.mdl-card__actions {
  height: 52px;
  padding: 9px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.theme-thumb{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.theme-desc{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.img-full{
  padding:0px;
  margin : 10px auto;
}
.theme-full-img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}
.mdl-button.android-button{
  background-color: #7Db322;
  color: #FFF;
  margin-left: 10px;
}
.mdl-button.android-button:focus{
  background-color: #6Db322;
}
.mdl-button.ios-button{
  background-color: #FFF;
  color: #59A0FC;
  margin-left: 10px;
}
.mdl-button.ios-button:focus{
  background-color: #EEE;
}





#content {
  position: relative;
  opacity: 1;
  -webkit-transition: -webkit-transform 300ms ease-out, opacity 300ms ease-out;
}
#content.transition {
  -webkit-transform: scale(0.5,0.5);
  -webkit-transform: translateY(400px);
  opacity: 0;
}
.mdl-mini-footer{
  margin-top: 20px;
  background-color: #000;
}
/*#toast-download{
  background-color: #0091EA;
}*/


.pagination{
    color: #000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            */
-webkit-justify-content: center;
          -ms-flex-pack: end;
        justify-content: center;
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;
                 height: 56px;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
}
.pagination > * {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
     margin-left: 10px;
     margin-right: 10px;
}
.pagination-indicator{
  color: #000;
  font-size: 14px;
  text-align: center;
}

.pagination-prev .pagination-next{
  font-size: 14px;
  position: relative;
}

.mdl-button--fab.mdl-button--colored:hover{
  /*color: #000;
  background-color: #40C4FF;*/
  color: #fff;
  background-color: #F44336;
}
.mdl-button--fab.mdl-button--colored{
  /*color: #000;
  background-color: #40C4FF;*/
  color: #fff;
  background-color: #EF5350;
}
.mdl-button--fab.mdl-button--colored:focus:not(:active){
/* background-color:  #80D8FF;*/
  background-color:  #E53935;
}
.mdl-button--colored[disabled][disabled], .mdl-button--colored.mdl-button--disabled.mdl-button--disabled:focus:not(:active){
  background-color: rgba(128,216,255,.50);
}





/*===========LOADING     */
.loading-message{
  font-size: 21px;
  color: #FFF;
  margin-top: 10px;
}
.pg-loading-logo{
  height: 150px;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #DDD;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}
